
.logo {
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 100;
}


.logo {

    a, span{
        color: #3b1700;
        font-size: 24px;
        font-weight: 1000;
    }
    
}